<table "class=tournament">
	<tr>
		<td class="round fixed <%= call_status_css(tournament) %>">
			<strong><%= tournament.return_status %></strong>
		</td>
		<td class="fixed">
		<strong><%= link_to tournament.name, tournament %><strong>
		</td>
		<td class="fixed">
			<% if signed_in? %> <% if current_user.inscrit?(tournament) %><%= current_user.etat_inscrit(tournament) %></strong><% end %><% end %> 
		</td>
	</tr>
</table>




		