<h1><%= @title %></h1>
<p>
    Gestion de Tournois Automatique ( GTA ) 
    est un projet visant a automatiser la gestion de Tournois
    Pour le site <%= link_to "wearepes", wearepes %>  ... 
	
	En construction , a suivre..
	
</p>
