<li>
  <%= link_to phase.name, tournament_phase_path(@tournament,phase) %>
  <%= link_to "editer", edit_tournament_phase_path(@tournament,phase),
                                :title => "Editer #{phase.name}" %>
  <%= link_to "supprimer", tournament_phase_path(@tournament,phase), :method => :delete, :confirm => "Sur?",
                                :title => "Supprimer #{phase.name}" %>

</li>
