<h1>All Phases of <%= @tournament.name %></h1>

<strong><%= link_to "Create New League ", new_tournament_league_path(@tournament) %></strong><br />

<ul class="phases">
  <%= render @phases %>
</ul>
