<h1>Toutes les phases of <%= @tournament.name %></h1>

<strong><%= link_to "Creer Nouveau Championnat ", new_tournament_league_path(@tournament) %></strong><br />
<ul class="phases">
  <%= render :collection =>@phases, :partial => "phase" %>
</ul>
