<table class="phase">
  <tr>
    <td class="main">
      <h1>
        <%= @phase.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @phase.name %><br />
	  <strong>Description</strong> <%= @phase.description %><br />
      <strong>Tournoi</strong> <%= link_to tournament_path(@tournament), @tournament %><br />
    </td>
  </tr>
</table>